#root {
  max-width: 1280px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
}

button {
  width: 70vw;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5em;
    display: inline-block;
    width: 100%;
  }
}